PORT=3000
OPEN_WEATHER_API_KEY=<YOUR_API_KEY>

MONGO_DB_URL=<YOUR_MONGO_DB_URL>

JWT_ACCESS_SECRET=<YOUR_JWT_SECRET>
JWT_ACCESS_EXPIRES_IN=<TIME> # for example: 60s, 15m, 1h

JWT_REFRESH_SECRET=<YOUR_JWT_SECRET>
JWT_REFRESH_EXPIRES_IN=<TIME> # for example: 60s, 15m, 1h

PATH_TO_VIDEO_FOLDER=uploads/videos